@{
    ViewBag.Title = "Our Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="our-team-bg py-5">
    <div class="container">
        <h2 class="our-team-title mb-5">Our Team of Ophthalmologists</h2>

        <div class="row mb-4 justify-content-center">
            <div class="col-md-12 mb-4 d-flex justify-content-center">
                <div class="oph-horizontal-card oph-card-spacing">
                    <img src="~/Content/OurTeam/oftalmolog1.jpg" class="oph-img-horizontal" alt="Tanurcov Fiodor Piotr">
                    <div class="oph-info-horizontal">
                        <div class="oph-name-horizontal">Tanurcov Fiodor Piotr</div>
                        <div class="oph-prof-horizontal">Chirurg - oftalmolog</div>
                        <div class="oph-desc-horizontal">Specializing in advanced ophthalmic surgery and general eye care. Over 15 years of experience in complex procedures.</div>
                        <div class="oph-hours-horizontal">Working Hours: Mon-Fri, 9:00 - 17:00</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4 d-flex justify-content-center">
                <div class="oph-horizontal-card oph-card-spacing">
                    <img src="~/Content/OurTeam/oftalmolog2.jpg" class="oph-img-horizontal" alt="Cosciuc Alexandr Fiodor">
                    <div class="oph-info-horizontal">
                        <div class="oph-name-horizontal">Cosciuc Alexandr Fiodor</div>
                        <div class="oph-prof-horizontal">Chirurg - oftalmolog</div>
                        <div class="oph-desc-horizontal">Expert in cataract and refractive surgery, dedicated to restoring and improving vision with the latest techniques.</div>
                        <div class="oph-hours-horizontal">Working Hours: Mon-Fri, 9:00 - 17:00</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4 d-flex justify-content-center">
                <div class="oph-horizontal-card oph-card-spacing">
                    <img src="~/Content/OurTeam/oftalmolog3.jpg" class="oph-img-horizontal" alt="Cuciuc Veronica Vladimir">
                    <div class="oph-info-horizontal">
                        <div class="oph-name-horizontal">Cuciuc Veronica Vladimir</div>
                        <div class="oph-prof-horizontal">Oftalmolog</div>
                        <div class="oph-desc-horizontal">Specialist in pediatric ophthalmology and preventive eye care. Passionate about children's vision health.</div>
                        <div class="oph-hours-horizontal">Working Hours: Mon-Fri, 9:00 - 17:00</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 mb-4 d-flex justify-content-center">
                <div class="oph-horizontal-card oph-card-spacing">
                    <img src="~/Content/OurTeam/oftalmolog4.jpg" class="oph-img-horizontal" alt="Gherman Natalia Alexandr">
                    <div class="oph-info-horizontal">
                        <div class="oph-name-horizontal">Gherman Natalia Alexandr</div>
                        <div class="oph-prof-horizontal">Oftalmolog</div>
                        <div class="oph-desc-horizontal">Specialist in retinal diseases and vitreoretinal surgery. Focused on treating complex retinal conditions.</div>
                        <div class="oph-hours-horizontal">Working Hours: Mon-Fri, 9:00 - 17:00</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4 d-flex justify-content-center">
                <div class="oph-horizontal-card oph-card-spacing">
                    <img src="~/Content/OurTeam/oftalmolog5.jpg" class="oph-img-horizontal" alt="Balan Victoria Mihail">
                    <div class="oph-info-horizontal">
                        <div class="oph-name-horizontal">Balan Victoria Mihail</div>
                        <div class="oph-prof-horizontal">Oftalmolog</div>
                        <div class="oph-desc-horizontal">Expert in glaucoma diagnosis and treatment. Experienced in both medical and surgical management of glaucoma.</div>
                        <div class="oph-hours-horizontal">Working Hours: Mon-Fri, 9:00 - 17:00</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4 d-flex justify-content-center">
                <div class="oph-horizontal-card oph-card-spacing">
                    <img src="~/Content/OurTeam/oftalmolog6.jpg" class="oph-img-horizontal" alt="Gobjila Olga Andrei">
                    <div class="oph-info-horizontal">
                        <div class="oph-name-horizontal">Gobjila Olga Andrei</div>
                        <div class="oph-prof-horizontal">Oftalmolog</div>
                        <div class="oph-desc-horizontal">Specialist in corneal diseases and refractive surgery. Focused on advanced corneal transplantation techniques.</div>
                        <div class="oph-hours-horizontal">Working Hours: Mon-Fri, 9:00 - 17:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 